<tr>
  <td class="delivery">
    <span class="content"><%= delivery_item.name %></span>
  </td>
  <td class="delivery">
    <span class="content"><%= delivery_item.descr %></span>
  </td>
  <td class="delivery">
    <span class="content"><%= delivery_item.price %></span>
  </td>
</tr>
