<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="menu"><%= @user.name %> Menu</h1>
        <% unless @menus.empty? %>
        <table class="menus" summary="User Menu">
        <% @menus.each do |menu_item| %>       
        <tr>
          <td colspan="3" class="menu">
            <span class="content"><%= menu_item.content %></span>
          </td>
        </tr>
        <%= render :partial => 'shared/delivery_item', :collection => @deliveries.shift %>
        <% end %>
      </table>
  <%= will_paginate @menus %>
    <% end %>
    </td>
  </tr>
</table>
