<% unless @accounts.empty? %>
  <table class="accounts" summary="User Working">
<tr>
  <td class="accounts">
    <span class="content">Table</span>
  </td>
  <td class="accounts">
    <span class="content">Guests</span>
  </td>
  <td class="accounts">
    <span class="content">Opened By</span>
  </td>
  <td class="accounts">
    <span class="content">Owned By</span>
  </td>
</tr>
    <%= render :partial => 'shared/working_item', :collection => @accounts %>
  </table>
  <%= will_paginate @accounts %>
<% end %>
