<tr>
  <td class="accounts">
    <span class="content"><%= working_item.table %></span>
  </td>
  <td class="accounts">
    <span class="content"><%= working_item.guests %></span>
  </td>
  <td class="accounts">
    <span class="content"><%= working_item.employer.name %></span>
  </td>
  <td class="accounts">
    <span class="content"><%= working_item.owner.name %></span>
  </td>
</tr>
