<h1>Help</h1>
<p>
  Get help on Pupetto Social Network at the
  <a href="http://pupetto.org/help">Pupetto Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://pupetto.org/book">Pupetto Tutorial App</a>.
</p>
