<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="working"><%= current_user.name %> Working List</h1>
         <%= render 'shared/working' %>
    </td>
  </tr>
</table>
