<tr>
  <td class="delivery">
    <span class="content"><%= order_item.name %></span>
  </td>
  <td class="delivery">
    <span class="content">+</span>
  </td>
  <td class="delivery">
    <span class="content">-</span>
  </td>
</tr>
